# ------------------LangSmith tracing------------------
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=
# -----------------------------------------------------

WEAVIATE_API_KEY=
WEAVIATE_URL=
WEAVIATE_INDEX_NAME=

FIREWORKS_API_KEY=

OPENAI_API_KEY=
